* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.sale {
  background-color: red;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -15px;
  left: -35px;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  text-transform: uppercase;
  font-weight: bo≤ld;
  font-size: 12px;
  color: #777777;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

.product-desc {
  margin-top: 50px;
  margin-bottom: 10px;
  clear: both;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* color list */
.color {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-black {
  background-color: black;
}
.color-bule {
  background-color: blue;
}
.color-red {
  background-color: red;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-brown {
  background-color: brown;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  /* margin-top: 30px; */
}

.details-list {
  list-style: square;
  padding-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: black;
  background-color: white;
}

/* float */
.product-img {
  float: left;
  margin-right: 40px;
}

.product-info {
  /*
  总宽度 - 两边border 4+4=8 - 图像宽度250 - margin-right:40 x 2 = 80 
  (825 - 8 - 250 - 80) / 2
  487 / 2  = 243.5
  */
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
}

.product-details {
  width: 243px;
  float: right;
  margin-top: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
